.header {
    font-family: 'Inter', sans-serif;
    background: var(--white);
    padding: 96px 0 77px;
}

.header_size_small {
    padding: 0;
    height: 82px;
}

.header__title {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
}