<!DOCTYPE html>
<!-- Страница с аккордеоном -->
<html lang="ru">

<head>
    <link rel="stylesheet" href="../../../assets/css/main.css">
</head>

<body>
    <div class="container" style="margin-top: 50px;">
        <div class="accordion">
            <details class="accordion__item" open>
                <summary class="accordion__summary">
                    <p class="accordion__title">Accordion Item 1</p>
                    <svg class="accordion__arrow">
                        <use href="../../../assets/images/icons-sprite.svg#arrow"></use>
                    </svg>
                </summary>
                <p class="accordion__text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis
                    enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </details>
            <details class="accordion__item">
                <summary class="accordion__summary">
                    <p class="accordion__title">Accordion Item 2</p>
                    <svg class="accordion__arrow">
                        <use href="../../../assets/images/icons-sprite.svg#arrow"></use>
                    </svg>
                </summary>
                <p class="accordion__text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officiaffff
                    consequat
                    duis
                    enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt
                    ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis
                    enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </details>
            <details class="accordion__item">
                <summary class="accordion__summary">
                    <p class="accordion__title">Accordion Item 3</p>
                    <svg class="accordion__arrow">
                        <use href="../../../assets/images/icons-sprite.svg#arrow"></use>
                    </svg>
                </summary>
                <p class="accordion__text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis
                    enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </details>
        </div>

    </div>
</body>

</html>