.accordion {}

.accordion__item {
    box-sizing: border-box;
    width: 730px;
    margin-bottom: 8px;
    padding: 24px 32px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    transition: all 0.5s ease;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__item[open] {
    padding-bottom: 32px;
}

.accordion__item[open] .accordion__item__summary {
    margin-bottom: 16px;
}

.accordion__item[open] .accordion__item__summary__arrow {
    transform: rotate(0);
}


.accordion__item__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__item__summary__title {
    color: var(--black);
}

.accordion__item__summary__arrow {
    background: url('./Vector.svg');
    width: 18px;
    height: 10px;
    transform: rotate(180deg);
}