* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
}

h1, h2, h3 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 25px;
}

/* ---------------------------------------------------------------- */

.header-wrapper {
    background: #f00;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
}

/* --------------------------------------------------------------- */

.nav-wrapper {
    background: orange;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    font-size: 28px;
    color: #fff;
    margin-right: 10px;
}

.nav-box {}

.nav-item:last-child {
    margin-right: 0;
}

/* --------------------------------------------------------------- */

.main {
    background: #093;
    min-height: 200px;
    padding: 15px;
}

.article {
    background: blue;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 35px 15px;
    font-size: 20px;
}

.article:last-child {
    margin-bottom: 0;
}

.article__title {
    font-size: 30px;
    margin-bottom: 25px;
}

/* --------------------------------------------------------------- */

.footer {
    background: #c0f;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}