.preview-template {
    font-family: 'Inter';
    font-style: normal;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    background: var(--preview-bg);
    height: 100%;
}

.preview-template__wrapper {
    display: grid;
    grid-template-columns: 229px 1fr;
    grid-column-gap: 56px;
    margin-top: 36px;
    height: 100%;
}