.skeleton {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 579px;
    height: 192px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 32px 24px;

    transition: all 0.25s ease;
}

/* .skeleton:hover {
    cursor: pointer;
    transform: translateY(-10px);
} */

.skeleton__abstract {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    align-items: center;
}

.skeleton__abstract__avatar {
    width: 64px;
    height: 64px;
    background: #DDE2E5;
    border-radius: 50%;
    margin-right: 16px;
}

.skeleton__abstract__titles-wrapper {
    display: flex;
    flex-direction: column;
}
 
.skeleton__abstract__titles-wrapper {
    display: flex;
    flex-direction: column;
}

.skeleton__stripe {
    height: 20px;
    margin-bottom: 8px;
    padding: 0;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__stripe_sm {
    width: 172px;
}

.skeleton__stripe_md {
    width: 257px;
}

.skeleton__stripe_lg {
    width: 515px;
}

.skeleton__stripe:last-child {
    margin-bottom: 0;
}