<!DOCTYPE html>
<!-- Страница с полем ввода -->
<html lang="ru">

<head>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="./input.css">
</head>

<body style="display: flex; justify-content: center;">
    <div class="container" style="padding-top: 50px;">
        <div class="div" style="display: flex; flex-direction:column; gap: 30px; width: 325px;">
            <div class="input-group">
                <label class="input-group__title">Label</label>
                <div class="input-group__input-field">
                    <input type="text" class="input-group__input" placeholder="Placeholder">
                    <div class="input-group__state-icon"></div>
                </div>
            </div>
            <div class="input-group input-group_success">
                <label class="input-group__title">Success</label>
                <div class="input-group__input-field">
                    <input type="text" class="input-group__input" value="Success">
                    <div class="input-group__state-icon"></div>
                </div>
            </div>
            <div class="input-group input-group_invalid">
                <label class="input-group__title">Error</label>
                <div class="input-group__input-field">
                    <input type="text" class="input-group__input" value="Error">
                    <div class="input-group__state-icon"></div>
                </div>
            </div>
            <div class="input-group">
                <label class="input-group__title">Disabled</label>
                <div class="input-group__input-field">
                    <input type="text" class="input-group__input" value="Disabled" disabled>
                    <div class="input-group__state-icon"></div>
                </div>
            </div>
        </div>
        <div class="div" style="display: flex; flex-direction:column; gap: 30px; margin: 60px 0;">
            <div class="input-group">
                <label class="input-group__title">Label</label>
                <div class="input-group__input-field">
                    <input type="text" class="input-group__input" placeholder="Placeholder">
                    <div class="input-group__state-icon"></div>
                </div>
            </div>
            <div class="input-group input-group_success">
                <label class="input-group__title">Success</label>
                <div class="input-group__input-field">
                    <input type="text" class="input-group__input" value="Success">
                    <div class="input-group__state-icon"></div>
                </div>
            </div>
            <div class="input-group input-group_invalid">
                <label class="input-group__title">Error</label>
                <div class="input-group__input-field">
                    <input type="text" class="input-group__input" value="Error">
                    <div class="input-group__state-icon"></div>
                </div>
            </div>
            <div class="input-group">
                <label class="input-group__title">Disabled</label>
                <div class="input-group__input-field">
                    <input type="text" class="input-group__input" value="Disabled" disabled>
                    <div class="input-group__state-icon"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>