.footer {
    font-family: 'Inter', sans-serif;
    padding: 71px 0 136px;
}

.footer_preview-template {
    /* встраивается в preview-template */
    padding: 92px 0 56px;
}

.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
    margin-bottom: 32px;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}

.footer__text_preview-template {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.footer__wrapper {
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}