.skeleton {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: transparent;
  outline: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 40px 32px 24px;
  width: 100%;
}

.skeleton_preview {}

.skeleton__abstract {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  align-items: center;
}

.skeleton__avatar {
  position: relative;
  width: 64px;
  height: 64px;
  background: var(--skeleton-color);
  border-radius: 50%;
  margin-right: 16px;
  overflow: hidden;
}

.skeleton__titles-wrapper {
  flex-grow: 1;
}

.skeleton__stripe {
  position: relative;
  height: 20px;
  margin-bottom: 8px;
  padding: 0;
  background: var(--skeleton-color);
  overflow: hidden;
}

.skeleton__avatar::after, .skeleton__stripe::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, #DDE2E5 0%, rgb(221, 226, 230) 20%, #F3F5F5 60%, rgb(223, 228, 231) 80%, #DDE2E5 100%);
  animation: anim 1.5s infinite;
}

@keyframes anim {
  100% {
    transform: translateX(100%);
  }
}

.skeleton__avatar::after {
  border-radius: 50%;
}

.skeleton__stripe:last-child {
  margin-bottom: 0;
}

.skeleton__stripe:last-child {
  margin-bottom: 0;
}

.skeleton__stripe_size_sm {
  width: 39.5%;
}

.skeleton__stripe_size_md {
  width: 59%;
}

.skeleton__stripe_size_lg {
  /* width: 100%; */
}

@media screen and (max-width:768px) {
  .skeleton_preview {
    padding: 12px 20px 16px 12px;
  }

  .skeleton_preview .skeleton__stripe {
    height: 10px;
  }

  .skeleton_preview .skeleton__avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  .skeleton_preview .skeleton__abstract {
    margin-bottom: 12px;
  }
}