.histogram {
    box-sizing: border-box;
    background: var(white);
    outline: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
}

.histogram__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.histogram__header {
    display: flex;
    flex-direction: column;
    /* чтобы отодвинуть вниз
    максимально высокий столбец */
    margin-bottom: 10px;
}

.histogram__top-title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.histogram__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__view-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--histogram-column);
    margin-top: 3px;
}

.histogram__amount {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.histogram__chart {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    height: 100%;
    padding: 0 2px;
    gap: 1px;
}

.histogram__chart-column {
    background: var(--histogram-column);
    flex-grow: 1;
    /* чтобы при загрузке страницы столбики
    росли снизу вверх 
    скрипт задаёт высоту колонок рандомно*/
    height: 0%;
    transition: all 0.75s ease;
}
