.preview {
    background: var(--preview-bg);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.preview__cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 67px 0 204px;
}



@media screen and (max-width:1280px) {
    .preview {
        padding: 0 25px;
    }

    .preview__cards-wrapper {
        justify-content: space-between;
        margin: 40px 0 102px;
        gap: 20px
    }
}

@media screen and (max-width:768px) {
    .preview__cards-wrapper {
        row-gap: 23px;
        column-gap: 16px;
    }
}

@media screen and (max-width:574px) {
    .preview__cards-wrapper {
        justify-content: center;
    }
}